body {
    margin: 50px;
}

p.title {
    color: orange;
    font-size: 300%;
}

p.title_pink {
    color: deeppink;
    font-size: 300%;
    margin: 0;
}

p.iine {
    color: red;
    margin: 0;
    padding: 0;
    font-size: 80%;
}

p.com {
    margin: 0;
    padding: 0;
    font-size: 70%;
}

td {
    background-color: lightblue;
}

table {
    border: none;
    margin: 1em;
}

#us {
    margin: 0 0 0 0;
    height: 7em;
    overflow: auto;
    background-color: brown;
}

#hidari {
    margin: 7em 0 0 0;
    width: 8em;
    position: absolute;
    position: fixed;

    height: 100%;
    right: 0;
    top: 0;
    border: 2px solid #333;
}

#main {
    margin: 0 0 0 6em;
    height: 100%;
    overflow: auto;
    background-color: #99cc99;
}

#box {
    width: 30em;
    background-color: lightblue;
    margin: 1em;
    padding: 1em;
}

small {
    display: flex;

}

small a {
    margin-top: 17px;
    margin-left: 3px;
    font-size: 1px;
}